body{
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}
.title {
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 20% auto;
    height: 100vh;
    width: auto;
}

.header-container {
    grid-column: 1/3;
    grid-row: 1;
    background-color: rgb(253, 250, 250);

}
.text-1-container {
    grid-column: 1/2;
    grid-row: 2;
    text-align: right;
    font-weight: bold;

}
.text-2-container {
    grid-column: 2/3;
    grid-row: 2;
    background-color: rgb(112, 235, 235);
    margin-bottom: 5px;
    text-align: left;
}
.footer-container {
    grid-column: 1/3;
    grid-row: 3;
    background-color: #ffffff;
}

.header-flex{
    display: flex;
    direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: #808285;
    font-weight: bold;
}
